@import 'src/main';

@include elr-helper-classes;
@include elr-action-helper-classes;

button {
  margin: 10px;
}

.box {
  width: 200px;
  height: 200px;
  display: block;
  background-color: #1976d2;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  margin: 10px;
  clear: both;
}

.box-model-holder {
  background-color: lighten(#1976d2, 20%);
  width: 300px;
  display: flex;
}

.box-model {
  border: 1px solid #333;
  background-color: #ff7f50;
  margin: 20px;
  padding: 20px;
  height: 250px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.overflow-holder {
  width: 200px;
  height: 200px;
  border: 1px solid #333;
  background-color: lighten(#1976d2, 20%);
  margin: 40px 0 120px;
}

.box-model-overflow {
  background-color: #ff7f50;
  width: 300px;
  height: 300px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.flex-demo {
  padding: 20px;
  background-color: #ff7f50;
  margin: 20px;
  height: 300px;
  width: 600px;
  position: relative;
}

.flex-item {
  border: 1px solid #333;
  background-color: lighten(#1976d2, 20%);
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 200px;
}

.display-helpers {
  width: 100%;
  padding: 20px;
}

.display-helpers span,
.display-helpers div {
  background-color: #1976d2;
  color: #fff;
  padding: 10px;
  line-height: 1;
  margin: 10px 5px;
}

// .elr-flex-column {
//   .flex-item {
//     flex: 1;
//   }
// }
