@import 'src/main';

@include elr-helper-classes;
@include elr-action-helper-classes;

button {
  margin: 10px;
}

.box,
.float-box {
  width: 200px;
  height: 200px;
  display: block;
  background-color: #1976d2;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

.float-demo {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #eeeeee;
  padding: 20px;
  border: 1px solid #ccc;
}

.float-demo p {
  color: #333;
  font-size: 16px;
}

.box {
  clear: both;
}

.box-model-holder {
  background-color: lighten(#1976d2, 20%);
  width: auto;
  display: flex;
  margin-bottom: 30px;
}

.box-model {
  border: 1px solid #333;
  background-color: #ff7f50;
  margin: 20px;
  padding: 20px;
  height: 250px;
  max-width: 250px;
  min-width: 250px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  flex: 1;
}

p.box-model-label {
  padding: 20px 0 10px;
  font-size: 14px;
  color: #666;
}

h4 {
  font-weight: bold;
  font-size: 18px;
}

h4 + p,
h4 + p.box-model-label {
  margin-top: -5px;
  padding-bottom: 20px;
}

.overflow-holder {
  width: 200px;
  height: 200px;
  border: 1px solid #333;
  background-color: lighten(#1976d2, 20%);
  margin: 40px 0 120px;
}

.box-model-overflow {
  background-color: #ff7f50;
  width: 300px;
  height: 300px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.flex-demo {
  padding: 20px;
  background-color: #ff7f50;
  margin: 20px 0;
  height: 300px;
  width: 100%;
  position: relative;
}

.flex-item {
  border: 1px solid #333;
  background-color: lighten(#1976d2, 20%);
  color: #fff;
  font-weight: bold;
  text-align: center;
  min-width: 300px;
}

.display-helpers {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;

  figure {
    margin: 20px;
    width: 206px;
    border: 3px solid lighten(#1976d2, 20%);
  }
}

.display-helpers span,
.display-helpers div {
  background-color: #1976d2;
  color: #fff;
  padding: 0 10px;
  line-height: 1;
  margin: 10px 5px;
  white-space: nowrap;
}

// .elr-flex-column {
//   .flex-item {
//     flex: 1;
//   }
// }
