*:not(button) {
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: none;
  background: transparent;
}

* {
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-size: 100%;
}

input,
select,
textarea {
  border: 1px solid #999;
}

html {
  font-size: 16px;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
}

// remember to define focus styles!
:focus {
  outline: 0;
  text-decoration: none;
}

// remember to highlight inserts somehow!
ins {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

// set img max-width
img {
  height: auto;
}

// ie 8 img max-width
@media \0screen {
  img {
    width: auto;
  }
}

body {
  line-height: 1.5;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  color: #333;
  background-color: #fff;
}

// make html5 compatible

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
picture,
section {
  display: block;
}

.wrapper {
  max-width: 1200px;
  margin: 100px auto 0;
  padding: 20px;
  display: flex;
  position: relative;
}

.content-nav {
  flex: 1;
  max-width: 300px;
  flex-grow: 1;
  flex-shrink: 1;
  position: sticky;
  top: 130px;
  left: 0;
  height: calc(100vh - 100px);

  ul {
    list-style: none;
    margin-right: 40px;
  }

  li {
    background-color: #1976d2;
    margin: 5px;
    border-radius: 3px;

    a {
      color: #fff;
      padding: 10px;
      display: block;
      text-decoration: none;
    }
  }
}

.content-holder {
  flex: 3;
  flex-grow: 1;
  flex-shrink: 1;
}

.main-heading {
  font-size: 36px;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.subheading {
  font-size: 16px;
  color: #666;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.demo-content {
  position: relative;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.layout-demo {
  overflow: hidden;
}

pre {
  margin: 20px 0;
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #e2e2e2;
  color: #666;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // max-width: 700px;
  width: 100%;
  border-radius: 3px;
  white-space: pre-wrap;
  position: relative;
  min-height: 50px;

  button {
    position: absolute;
    top: 0;
    right: 10px;
    margin: 0;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
  }
}

.box-model-label {
  padding: 5px 0;
  font-size: 14px;
  color: #666;
}

.button-clip {
  font-size: 16px;
  border-radius: 3px;
  background-color: #fff;
  color: #333;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4), -1px -1px 5px rgba(0, 0, 0, 0.4);
  border: 1px solid #999;
  transition: background-color 0.3s, box-shadow 0.3s;

  &:hover {
    // background-color: #e5e5e5;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
}

.header-main {
  background-color: #333;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1;

  .header-inner {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .logo {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
  }

  .nav-main {
    ul {
      padding: 0;
    }

    a {
      color: #fff;
    }
  }
}
