@import 'node_modules/elr-scss-functions/main';
@import 'node_modules/elr-scss-alerts/src/main';

@mixin elr-notification-classes($config: ()) {
  $config: extend(
    (
      prefix: 'elr'
    ),
    $config
  );

  $prefix: map-get($config, prefix);
  $state-map: (
    danger: (
      name: 'danger'
    ),
    warning: (
      name: 'warning'
    ),
    success: (
      name: 'success'
    ),
    info: (
      name: 'info'
    ),
    muted: (
      name: 'muted'
    )
  );

  .#{$prefix}-notification {
    @include elr-alert(
      $config: (
        border-radius: 3px
      )
    );
    margin: 10px 0;
    max-width: 768px;
    width: 100%;
  }

  @each $state, $map in $state-map {
    $name: map-get($map, name);

    .#{$prefix}-notification-#{$name} {
      @include elr-alert-context(
        $config: (
          type: #{$name}
        )
      );
    }
  }
}
