@import 'node_modules/elr-scss-functions/main';

@mixin elr-background-classes($config: ()) {
  $config: extend(
    (
      prefix: 'elr'
    ),
    $config
  );

  $prefix: map-get($config, prefix);

  .#{$prefix}-no-background {
    background: transparent !important;
  }

  .#{$prefix}-no-repeat {
    background-repeat: no-repeat !important;
  }

  .#{$prefix}-background-fixed {
    background-attachment: fixed;
  }

  .#{$prefix}-background-centered {
    background-position: center center;
  }
}
