@import 'node_modules/elr-scss-functions/main';
@import 'node_modules/elr-scss-buttons/src/main';

@mixin elr-button-classes($config: ()) {
  $config: extend(
    (
      prefix: 'elr',
      background-color: #1976d2,
      color: #fff,
      width: 250px,
      border-radius: 3px,
      accent-color: rgb(240, 44, 151)
    ),
    $config
  );

  $prefix: map-get($config, prefix);
  $bg-color: map-get($config, background-color);
  $color: map-get($config, color);
  $width: map-get($config, width);
  $border-radius: map-get($config, border-radius);
  $accent-color: map-get($config, accent-color);

  .#{$prefix}-button {
    @include elr-button;
  }

  .#{$prefix}-button-small {
    width: auto;
  }

  .#{$prefix}-button-primary {
    background-color: $bg-color;
    border-color: $bg-color;

    &:hover {
      background-color: lighten($bg-color, 10%);
      border-color: lighten($bg-color, 10%);
    }
  }

  .#{$prefix}-button-secondary {
    background-color: $accent-color;
    border-color: $accent-color;

    &:hover {
      background-color: lighten($accent-color, 10%);
      border-color: lighten($accent-color, 10%);
    }
  }

  .#{$prefix}-button-pill {
    @include elr-button(
      $config: (
        pill: true
      )
    );

    &.#{$prefix}-button-primary {
      background-color: $bg-color;
      border-color: $bg-color;

      &:hover {
        background-color: lighten($bg-color, 10%);
        border-color: lighten($bg-color, 10%);
      }
    }

    &.#{$prefix}-button-secondary {
      background-color: $accent-color;
      border-color: $accent-color;

      &:hover {
        background-color: lighten($accent-color, 10%);
        border-color: lighten($accent-color, 10%);
      }
    }
  }

  .#{$prefix}-button-ghost {
    @include elr-button(
      $config: (
        border-color: #333,
        background-color: transparent,
        color: #333
      )
    );

    &.#{$prefix}-button-primary {
      border-color: $bg-color;
      color: $bg-color;

      &:hover {
        background-color: $bg-color;
        color: #fff;
      }
    }

    &.#{$prefix}-button-secondary {
      border-color: $accent-color;
      color: $accent-color;

      &:hover {
        background-color: $accent-color;
        color: #fff;
      }
    }
  }

  .#{$prefix}-button-group {
    @include elr-button-group;
  }

  .#{$prefix}-button-icon {
    @include elr-icon-button;
  }

  .#{$prefix}-button-icon-round {
    @include elr-icon-button(
      $config: (
        round: true
      )
    );
    // padding: 10px 13px;
  }
}

@mixin elr-buttons-action($config: ()) {
  $config: extend(
    (
      prefix: 'elr',
      danger-color: #f7322f,
      warning-color: #d1cb34,
      success-color: #7aba7b,
      info-color: #1daaf0,
      muted-color: #999
    ),
    $config
  );

  $prefix: map-get($config, prefix);
  $danger-color: map-get($config, danger-color);
  $warning-color: map-get($config, warning-color);
  $success-color: map-get($config, success-color);
  $info-color: map-get($config, info-color);
  $muted-color: map-get($config, muted-color);

  .#{$prefix}-button-danger {
    background-color: $danger-color;
    border-color: $danger-color;

    &:hover {
      background-color: lighten($danger-color, 10%);
      border-color: lighten($danger-color, 10%);
    }
  }

  .#{$prefix}-button-warning {
    background-color: $warning-color;
    border-color: $warning-color;

    &:hover {
      background-color: lighten($warning-color, 10%);
      border-color: lighten($warning-color, 10%);
    }
  }

  .#{$prefix}-button-success {
    background-color: $success-color;
    border-color: $success-color;

    &:hover {
      background-color: lighten($success-color, 10%);
      border-color: lighten($success-color, 10%);
    }
  }

  .#{$prefix}-button-muted {
    background-color: $muted-color;
    border-color: $muted-color;

    &:hover {
      background-color: lighten($muted-color, 10%);
      border-color: lighten($muted-color, 10%);
    }
  }

  .#{$prefix}-button-info {
    background-color: $info-color;
    border-color: $info-color;

    &:hover {
      background-color: lighten($info-color, 10%);
      border-color: lighten($info-color, 10%);
    }
  }
}
