@mixin elr-display-classes() {
  .elr-block {
    display: block !important;
  }

  .elr-inline {
    display: inline !important;
  }

  .elr-inline-block {
    display: inline-block !important;
  }

  .elr-display-none {
    display: none !important;
  }
}
