@mixin elr-display-classes($config: ()) {
  $config: extend(
    (
      prefix: 'elr'
    ),
    $config
  );

  $prefix: map-get($config, prefix);

  .#{$prefix}-block {
    display: block !important;
  }

  .#{$prefix}-inline {
    display: inline !important;
  }

  .#{$prefix}-inline-block {
    display: inline-block !important;
  }

  .#{$prefix}-display-none {
    display: none !important;
  }
}
