// scss-lint:disable ImportantRule
@import 'node_modules/elr-scss-functions/main';

@mixin elr-flex-classes($config: ()) {
  $config: extend(
    (
      prefix: 'elr'
    ),
    $config
  );

  $prefix: map-get($config, prefix);

  .#{$prefix}-flex {
    display: flex !important;
  }

  .#{$prefix}-flex-row {
    flex-direction: row;
  }

  .#{$prefix}-flex-column {
    flex-direction: column;
  }

  .#{$prefix}-flex-wrap {
    flex-wrap: wrap;
  }

  .#{$prefix}-flex-nowrap {
    flex-wrap: nowrap !important;
  }

  .#{$prefix}-flex-center {
    align-items: center;
  }

  .#{$prefix}-flex-baseline {
    align-items: baseline;
  }

  .#{$prefix}-flex-stretch {
    align-items: stretch;
  }

  .#{$prefix}-flex-top {
    align-items: flex-start;
  }

  .#{$prefix}-flex-bottom {
    align-items: flex-end;
  }

  .#{$prefix}-flex-justify-center {
    justify-content: center;
  }

  .#{$prefix}-flex-justify {
    justify-content: space-between;
  }

  .#{$prefix}-flex-even {
    justify-content: space-around;
  }

  .#{$prefix}-flex-left {
    justify-content: flex-start;
  }

  .#{$prefix}-flex-right {
    justify-content: flex-end;
  }

  .#{$prefix}-flex-grow {
    flex-grow: 1;
  }

  .#{$prefix}-flex-shrink {
    flex-shrink: 1;
  }

  .#{$prefix}-flex-1 {
    flex: 1;
  }

  .#{$prefix}-flex-2 {
    flex: 2;
  }

  .#{$prefix}-flex-3 {
    flex: 3;
  }

  .#{$prefix}-flex-first {
    order: -1;
  }

  .#{$prefix}-flex-last {
    order: 99999;
  }

  .#{$prefix}-flex-reverse {
    flex-direction: row-reverse;
  }
}
