// List Classes
@import 'node_modules/elr-scss-functions/main';
@import 'node_modules/elr-scss-lists/src/main';

@mixin elr-list-classes($config: ()) {
  $config: extend(
    (
      prefix: 'elr'
    ),
    $config
  );

  $prefix: map-get($config, prefix);

  .#{$prefix}-unstyled-list {
    @include elr-unstyled-list;
  }
  .#{$prefix}-inline-list {
    @include elr-inline-list;
  }

  .#{$prefix}-border-list {
    @include elr-border-list;

    li {
      font-size: 14px;
    }
  }

  .#{$prefix}-check-list {
    @include elr-bullet-list();
  }

  .#{$prefix}-icon-list {
    @include elr-icon-list;
  }
}
