@import 'node_modules/elr-scss-functions/main';
@import 'src/alerts';
@import 'src/buttons';
@import 'src/layout';
@import 'src/lists';
@import 'src/responsiveness';
@import 'src/typography';

@mixin elr-helper-classes($config: ()) {
  $config: extend(
    (
      link-color: #1976d2,
      color: #333,
      border-radius: 3px
    ),
    $config
  );

  $link-color: map-get($config, link-color);
  $color: map-get($config, color);
  $border-radius: map-get($config, border-radius);

  @include elr-buttons(
    $config: (
      background-color: $link-color,
      border-radius: $border-radius
    )
  );
  @include elr-display-classes;
  @include elr-flex-classes;
  @include elr-layout-classes;
  @include elr-positioning-classes;
  @include elr-list-classes;
  @include elr-responsive-classes;
  @include elr-typography-classes;
}

@mixin elr-action-helper-classes() {
  @include elr-notification-classes;
  @include elr-buttons-action;
  @include elr-typography-states;
}
