@import 'node_modules/elr-scss-functions/main';

@mixin elr-positioning-classes($config: ()) {
  $config: extend(
    (
      prefix: 'elr'
    ),
    $config
  );

  $prefix: map-get($config, prefix);

  .#{$prefix}-static {
    position: static !important;
  }

  .#{$prefix}-absolute {
    position: absolute !important;
  }

  .#{$prefix}-relative {
    position: relative !important;
  }

  .#{$prefix}-fixed {
    position: fixed !important;
  }

  .#{$prefix}-sticky {
    position: sticky !important;
  }

  .#{$prefix}-position-top {
    top: 0 !important;
  }

  .#{$prefix}-position-left {
    left: 0 !important;
  }

  .#{$prefix}-position-right {
    right: 0 !important;
  }

  .#{$prefix}-position-bottom {
    bottom: 0 !important;
  }

  .#{$prefix}-position-center-x {
    left: 50% !important;
    transform: translateX(-50%) !important;
  }

  .#{$prefix}-position-center-y {
    top: 50% !important;
    transform: translateY(-50%) !important;
  }

  .#{$prefix}-position-center {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
}
