@import 'node_modules/elr-scss-functions/main';

@mixin elr-positioning-classes($config: ()) {
  $config: extend(
    (
      prefix: 'elr'
    ),
    $config
  );

  $prefix: map-get($config, prefix);
  $positions: 'static' 'absolute' 'relative' 'fixed' 'sticky';
  $directions: 'top' 'right' 'bottom' 'left';

  @each $position in $positions {
    .#{$prefix}-#{$position} {
      position: $position !important;
    }
  }

  @each $direction in $directions {
    .#{$prefix}-position-#{$direction} {
      #{$direction}: 0 !important;
    }
  }

  .#{$prefix}-position-center-x {
    left: 50% !important;
    transform: translateX(-50%) !important;
  }

  .#{$prefix}-position-center-y {
    top: 50% !important;
    transform: translateY(-50%) !important;
  }

  .#{$prefix}-position-center {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
}
