// scss-lint:disable ImportantRule
@import 'node_modules/elr-scss-functions/main';

@mixin elr-responsive-classes($config: ()) {
  $config: extend(
    (
      prefix: 'elr'
    ),
    $config
  );

  $prefix: map-get($config, prefix);

  .#{$prefix}-hide {
    display: none !important;
  }

  .#{$prefix}-hide-desktop {
    @media (min-width: 769px) {
      display: none !important;
    }
  }

  .#{$prefix}-hide-tablet {
    @media (max-width: 768px) and (min-width: 569px) {
      display: none !important;
    }
  }

  .#{$prefix}-hide-mobile {
    @media (max-width: 568px) {
      display: none !important;
    }
  }
}
