// rotates
// skews
// move

@mixin elr-transforms-classes() {
  .elr-rotate-90 {
    transform: rotate(90deg);
  }

  .elr-rotate-180 {
    transform: rotate(180deg);
  }

  .elr-rotate-270 {
    transform: rotate(270deg);
  }
}
