@import 'node_modules/elr-scss-functions/main';

@mixin elr-typography-classes($config: ()) {
  $config: extend(
    (
      prefix: 'elr'
    ),
    $config
  );

  $prefix: map-get($config, prefix);

  .#{$prefix}-bold {
    font-weight: bold;
  }

  .#{$prefix}-italic {
    font-style: italic;
  }

  .#{$prefix}-underline {
    text-decoration: underline;
  }

  .#{$prefix}-uppercase {
    text-transform: uppercase;
  }

  .#{$prefix}-capitalize {
    text-transform: capitalize;
  }

  .#{$prefix}-text-large {
    font-size: 120%;
  }

  .#{$prefix}-text-small {
    font-size: 80%;
  }

  .#{$prefix}-text-left {
    text-align: left;
  }

  .#{$prefix}-text-right {
    text-align: right;
  }

  .#{$prefix}-text-center {
    text-align: center;
  }

  .#{$prefix}-text-justified {
    text-align: justify;
  }

  .#{$prefix}-avoid-wrap {
    display: inline-block;
  }

  .#{$prefix}-fz-36 {
    font-size: 36px !important;
  }

  .#{$prefix}-fz-30 {
    font-size: 30px !important;
  }

  .#{$prefix}-fz-24 {
    font-size: 24px !important;
  }

  .#{$prefix}-fz-18 {
    font-size: 18px !important;
  }

  .#{$prefix}-fz-16 {
    font-size: 16px !important;
  }

  .#{$prefix}-fz-14 {
    font-size: 14px !important;
  }
}

@mixin elr-typography-states($config: ()) {
  $config: extend(
    (
      prefix: 'elr',
      danger-color: #f7322f,
      warning-color: #d1cb34,
      success-color: #7aba7b,
      info-color: #1daaf0,
      muted-color: #999,
      accent-color: rgb(240, 44, 151)
    ),
    $config
  );

  $prefix: map-get($config, prefix);
  $danger-color: map-get($config, danger-color);
  $warning-color: map-get($config, warning-color);
  $success-color: map-get($config, success-color);
  $info-color: map-get($config, info-color);
  $muted-color: map-get($config, muted-color);
  $accent-color: map-get($config, accent-color);

  .#{$prefix}-text-muted {
    color: $muted-color;
  }

  .#{$prefix}-text-disabled {
    color: #ccc;
  }

  .#{$prefix}-text-danger {
    color: $danger-color;
  }

  .#{$prefix}-text-error {
    color: $danger-color;
    font-weight: bold;
  }

  .#{$prefix}-text-info {
    color: $info-color;
  }

  .#{$prefix}-text-warning {
    color: $warning-color;
  }

  .#{$prefix}-text-success {
    color: $success-color;
  }

  .#{$prefix}-highlight {
    color: $accent-color;
  }
}
