@mixin elr-background-classes($config: ()) {
  $config: extend(
    (
      prefix: "elr",
    ),
    $config
  );

  $prefix: map-get($config, prefix);

  .#{$prefix}-no-background {
    background: transparent !important;
  }

  .#{$prefix}-background-no-repeat {
    background-repeat: no-repeat !important;
  }

  .#{$prefix}-background-repeat {
    background-repeat: repeat !important;
  }

  .#{$prefix}-background-fixed {
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }

  .#{$prefix}-background-fixed-repeat {
    background-attachment: fixed !important;
  }

  .#{$prefix}-background-scroll {
    background-attachment: scroll !important;
  }

  .#{$prefix}-background-centered {
    background-position: center center !important;
  }

  .#{$prefix}-background-centered-top {
    background-position: top center !important;
  }

  .#{$prefix}-background-centered-bottom {
    background-position: bottom center !important;
  }

  .#{$prefix}-background-cover {
    background-size: cover !important;
  }

  .#{$prefix}-background-contain {
    background-size: contain !important;
  }
}
