@import 'node_modules/elr-scss-functions/main';
@import 'node_modules/elr-scss-buttons/src/main';

@mixin elr-button-classes($config: ()) {
  $config: extend(
    (
      prefix: 'elr',
      background-color: #1976d2,
      color: #fff,
      width: 250px,
      border-radius: 3px,
      accent-color: rgb(240, 44, 151)
    ),
    $config
  );

  $prefix: map-get($config, prefix);
  $bg-color: map-get($config, background-color);
  $color: map-get($config, color);
  $width: map-get($config, width);
  $border-radius: map-get($config, border-radius);
  $accent-color: map-get($config, accent-color);

  .#{$prefix}-button {
    @include elr-button;
  }

  .#{$prefix}-button-small {
    width: auto;
  }

  .#{$prefix}-button-primary {
    background-color: $bg-color;
    border-color: $bg-color;

    &:hover {
      background-color: lighten($bg-color, 10%);
      border-color: lighten($bg-color, 10%);
    }
  }

  .#{$prefix}-button-secondary {
    background-color: $accent-color;
    border-color: $accent-color;

    &:hover {
      background-color: lighten($accent-color, 10%);
      border-color: lighten($accent-color, 10%);
    }
  }

  .#{$prefix}-button-pill {
    border-radius: 25px;
  }

  .#{$prefix}-button-ghost {
    border-color: $bg-color;
    background-color: transparent;
    color: $bg-color;

    &:hover {
      background-color: $bg-color;
      color: #fff;
    }

    &.#{$prefix}-button-primary {
      border-color: $bg-color;
      color: $bg-color;

      &:hover {
        background-color: $bg-color;
        color: #fff;
      }
    }

    &.#{$prefix}-button-secondary {
      border-color: $accent-color;
      color: $accent-color;

      &:hover {
        background-color: $accent-color;
        color: #fff;
      }
    }
  }

  .#{$prefix}-button-group {
    @include elr-button-group;
  }

  .#{$prefix}-button-icon {
    @include elr-icon-button;
  }

  .#{$prefix}-button-icon-round {
    @include elr-icon-button(
      $config: (
        round: true
      )
    );
  }

  .#{$prefix}-button-raised {
    background-color: darken($bg-color, 5%);
    border: 1px solid darken($bg-color, 5%);
    border-bottom: 4px solid darken($bg-color, 10%);

    &:hover {
      background-color: $bg-color;
      border: 1px solid $bg-color;
      border-bottom: 4px solid darken($bg-color, 5%);
    }
  }

  .#{$prefix}-button-gradient {
    color: #fff;
    border: 0;
    background-image: linear-gradient(
      to right,
      lighten($bg-color, 10%) 0%,
      $bg-color 51%,
      lighten($bg-color, 10%) 100%
    );
    transition: 0.3s;
    background-size: 200% auto;
    text-shadow: #aaa 0 0 1px;

    &:hover {
      border: 0;
      background-position: right center;
    }
  }

  .#{$prefix}-button-glass {
    color: #fff;
    border: 1px solid lighten($bg-color, 5%);
    background-position: center bottom;
    background-image: linear-gradient(
      to top,
      lighten($bg-color, 10%) 0%,
      #333 51%,
      lighten($bg-color, 10%) 100%
    );
    transition: 0.3s;
    background-size: auto 150%;
    text-shadow: #aaaaaa 0 0 1px;

    &:hover {
      border: 1px solid lighten($bg-color, 5%);
      background-position: center top;
    }
  }
}

@mixin elr-buttons-action($config: ()) {
  $config: extend(
    (
      prefix: 'elr',
      danger-color: #f7322f,
      warning-color: #d1cb34,
      success-color: #7aba7b,
      info-color: #1daaf0,
      muted-color: #999
    ),
    $config
  );

  $prefix: map-get($config, prefix);
  $state-map: (
    danger: (
      name: 'danger',
      color: map-get($config, danger-color)
    ),
    warning: (
      name: 'warning',
      color: map-get($config, warning-color)
    ),
    success: (
      name: 'success',
      color: map-get($config, success-color)
    ),
    info: (
      name: 'info',
      color: map-get($config, info-color)
    ),
    muted: (
      name: 'muted',
      color: map-get($config, muted-color)
    )
  );

  @each $state, $map in $state-map {
    $name: map-get($map, name);
    $color: map-get($map, color);

    .#{$prefix}-button-#{$name} {
      background-color: $color;
      border-color: $color;

      &:hover {
        background-color: lighten($color, 10%);
        border-color: lighten($color, 10%);
      }
    }
  }
}
