@mixin elr-display-classes($config: ()) {
  $config: extend(
    (
      prefix: 'elr'
    ),
    $config
  );

  $prefix: map-get($config, prefix);
  $displays: 'block' 'inline' 'inline-block' 'table';

  @each $display in $displays {
    .#{$prefix}-#{$display} {
      display: $display !important;
    }
  }

  .#{$prefix}-display-none {
    display: none !important;
  }
}
