@import 'node_modules/elr-scss-functions/main';

@mixin elr-typography-classes($config: ()) {
  $config: extend(
    (
      prefix: 'elr'
    ),
    $config
  );

  $prefix: map-get($config, prefix);

  .#{$prefix}-bold {
    font-weight: bold;
  }

  .#{$prefix}-italic {
    font-style: italic;
  }

  .#{$prefix}-underline {
    text-decoration: underline;
  }

  .#{$prefix}-uppercase {
    text-transform: uppercase;
  }

  .#{$prefix}-capitalize {
    text-transform: capitalize;
  }

  .#{$prefix}-text-large {
    font-size: 120%;
  }

  .#{$prefix}-text-small {
    font-size: 80%;
  }

  .#{$prefix}-text-left {
    text-align: left;
  }

  .#{$prefix}-text-right {
    text-align: right;
  }

  .#{$prefix}-text-center {
    text-align: center;
  }

  .#{$prefix}-text-justified {
    text-align: justify;
  }

  .#{$prefix}-avoid-wrap {
    display: inline-block;
  }

  $font-sizes: 14 16 18 24 30 36 48;

  @each $size in $font-sizes {
    .#{$prefix}-fz-#{$size} {
      font-size: #{$size}px !important;
    }
  }
}

@mixin elr-typography-states($config: ()) {
  $config: extend(
    (
      prefix: 'elr',
      danger-color: #f7322f,
      warning-color: #d1cb34,
      success-color: #7aba7b,
      info-color: #1daaf0,
      muted-color: #999,
      accent-color: rgb(240, 44, 151)
    ),
    $config
  );

  $prefix: map-get($config, prefix);
  $color-map: (
    danger: (
      name: 'danger',
      color: map-get($config, danger-color)
    ),
    warning: (
      name: 'warning',
      color: map-get($config, warning-color)
    ),
    success: (
      name: 'success',
      color: map-get($config, success-color)
    ),
    info: (
      name: 'info',
      color: map-get($config, info-color)
    ),
    muted: (
      name: 'muted',
      color: map-get($config, muted-color)
    ),
    accent: (
      name: 'accent',
      color: map-get($config, accent-color)
    )
  );

  @each $color, $map in $color-map {
    $name: map-get($map, name);
    $color: map-get($map, color);

    .#{$prefix}-text-#{$name} {
      color: $color;
    }
  }

  .#{$prefix}-text-error {
    color: $danger-color;
    font-weight: bold;
  }
}
